.ScheduleExportsForm {
    .cell-export-field {
        background-color: var(--light-bg-color);
        border-radius: var(--border-radius);
        padding: var(--padding);
        margin-bottom: var(--padding);
    }
}
