.ScheduleExportsForm {
    .cell-export-field {
        padding: var(--padding);
        margin-bottom: var(--padding);
        border-bottom: 5px solid var(--color-button-bg);
        margin-left: 50px;
        padding-bottom: unquote("calc(2 * var(--padding))");
    }
}
