.DebouncedInput {

    &.flex {
        display: flex;
        input {
            flex-grow: 1;
        }
    }

    input {
        padding: var(--padding);
    }

    &.transparent {
        input {
            border: none;
            background-color: transparent;
        }
    }
}
