.FormFieldInputSection {
    .RichTextEditor {
        background-color: var(--color-button-bg);
        border: none;
        border-radius: var(--border-radius);
        min-height: 37px;
        padding: 8px;
        font-weight: normal;

        &:hover {
            background-color: var(--hover-bg-color);
        }

        &:active,
        &:focus {
            background-color: var(--hover-bg-color);
            outline: none;
        }
    }
}
