.SearchBar {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--color-button-bg);
    padding-right: var(--padding);
    border-radius: var(--border-radius);

    .DebouncedInput {
        flex: 1;
        margin-right: var(--padding);
    }

    &.transparent {
        .DebouncedInput {
            input {
                padding: var(--padding);
            }
        }
    }

    .SearchIcon {
        position: absolute;
        right: 12px;
        color: var(--icon-color);
    }

    .search-bar-clear-sep {
        display: none;
        border-left: var(--border);
        height: 20px;
    }
}
