.SearchBar {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);

    .DebouncedInput {
        flex: 1;
    }

    &.transparent {
        .DebouncedInput {
            input {
                padding: var(--padding);
            }
        }
    }

    .SearchIcon {
        position: absolute;
        right: 12px;
        color: var(--icon-color);
    }

    .search-bar-clear-sep {
        display: none;
        border-left: var(--border);
        height: 20px;
    }

    .Button {
        margin-left: var(--padding);
        height: 37px; // To match search bar
    }
}
