.Menu {
    background-color: var(--bg-color);
    color: var(--text-color);
    user-select: none;
    border-radius: var(--border-radius-modals);
    padding: 5px 0px;
    // TODO: Prevent the double shadow of .popover-content
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.2);

    .MenuDivider {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .MenuItem,
    .MenuInfoItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        color: inherit;

        text-align: left;
        white-space: nowrap;
        width: unquote("calc(100% - 10px)");
        padding: 8px 24px 8px 12px;
        margin: 0px 5px;
        border-radius: var(--border-radius);
    }

    .MenuItem {
        cursor: pointer;

        .Menu-icon {
            width: 18px;
        }

        &:hover {
            background-color: var(--hover-bg-color);
            color: var(--hover-text-color);
            a {
                color: inherit;
            }
        }
    }

    &.soft {
        background: var(--light-bg-color);
        color: var(--light-text-color);
        border: none;

        .MenuItem:hover,
        .MenuItem.is-active {
            color: var(--text-color);
        }
    }
}
