.Dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Dropdown-trigger {
        cursor: default;
        user-select: none;
        display: flex;
    }

    .Dropdown-menu {
        left: 0;
        min-width: 100px;
        position: absolute;
        top: 100%;
        z-index: 20;
    }

    &.is-right {
        .Dropdown-menu {
            left: auto;
            right: 0;
        }
    }
    &.is-up {
        .Dropdown-menu {
            bottom: 100%;
            padding-bottom: 4px;
            padding-top: initial;
            top: auto;
        }
    }

    &.Dropdown-nested-menu {
        .Dropdown-menu {
            top: 0px;
            // this right now doesn't work
            margin-left: 100%;

            .Menu {
                margin-top: -5px;
                margin-right: 5px;
                margin-left: 5px;
            }
        }
    }
    &.Dropdown-nested-menu.nested-right {
        .Dropdown-menu {
            margin-right: 100%;
            border-right: 5px solid transparent;
        }
    }
}
